html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
  .cf:after {
    clear: both;
  }
 
  main{
   max-width: 960px;
   margin: 20px auto;
   padding: 20px;
   display: grid;
   border:1px solid #000;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: ;
  }

  header.primary{
    text-align: center;
    padding: 20px;
    grid-template-columns: 2fr ;
    float-left
  }

  #content{
    
  }
 
  article.widget {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #bdbbbb; 
  border: 1px solid #ccc;    
}

  footer.primary{
    
  }

  #blog{
    
  }