/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
     My CSS now
     ========================================================================== */

/* CSS Custom Properties */

:root {
  --main-bg-color: #efefef;
  --primary-type-color: #222222;
  --accent-color-1: #999999;
}

/* ------ Box Sizing -------*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* --- Scroll from on page nav --- */

html {
  scroll-behavior: smooth;
}

/* ------ Typography -------*/
body {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

/* ------ Fluid Images -------*/

img {
  max-width: 100%;
}

.container {
  max-width: 1440;
  margin: 0 auto;
}

body {
  background: var(--main-bg-color);
  color: var(--primary-type-color);
  line-height: 1.6;
  background: #000926;
}

a:link,
a:visited {
  color: var(--primary-type-color);
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 0px 0px 0px;
  font-size: large;
}

nav li {
  list-style-type: none;
}

#abt {
  border-radius: 10px 0 0 10px;
}

#ed {
  border-radius: 0 10px 10px 0;
}

nav a:link,
nav a:visited {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-size: 0.75em;
  background: #00207e;
  transition: background-color 0.5s ease;
  color: #ffffff;
}

nav a:hover {
  background: #000926;
}

@media screen and (max-width: 750px) {
  nav ul {
    grid-template-columns: 1fr;
    border-radius: 0px;
  }
}

@media screen and (max-width: 750px) {
  #abt {
    border-radius: 10px 10px 0 0;
  }

  #ed {
    border-radius: 0 0 10px 10px;
  }
}

main {
  padding: 1px 15px;
  background: rgb(237, 245, 255);
  border-radius: 10px;
}

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 1500;
  font-variant: small-caps;
  border-top: 2px solid #000926;
  padding-top: 5px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

img {
  border-radius: 20px;
}

.bio p {
  text-align: center;
  border-bottom: 2px solid #000;
  font-weight: 800;
  padding-bottom: 8px;
}

dl {
  display: grid;
  /*shorthand*/
  grid-template: repeat(8, auto) / 8em 1fr;
  font-size: 0.9rem;
}

dt {
  font-weight: 800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-1);
}
dd {
  margin: 0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color-1);
}

.related-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  list-style-type: none;
  justify-self: center;
  gap: 2em;
}

.related-links a {
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  color: #000926;
  text-transform: uppercase;
  font-size: 3em;
  background: #00207e;
  transition: background-color 0.5s ease;
  color: #fff;
  border-radius: 10px;
}

.related-links a:hover {
  background: #000926;
}

#skills h2 {
  text-align: center;
  border-bottom: 2px solid #000926;
}

#skills ul {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-bottom: 2px solid #000926;
  padding-left: 0;
}

#skills li {
  padding: 10px;
  font-weight: 700;
  list-style-type: none;
}

#left {
  background-color: #00207e;
  border-radius: 20px;
  color: #ffffff;
  padding: 20px;
}

.job a {
  color: #fff;
}

.job div span {
  display: block;
}

.job,
.certificate {
  border-bottom: 1px solid #000926;
  padding-bottom: 30px;
}

.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"] {
  display: block;
}

.job h3 {
  margin: 20px 0 0 0;
}

footer {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#copyright a {
  color: #fff;
}

main.container {
  display: grid;
  grid-template-areas:
    "title"
    "about"
    "skills"
    "education"
    "experience";
}

@media screen and (min-width: 750px) {
  header.container {
    max-width: 900px;
  }
  main.container {
    max-width: 900px;
  }
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #right {
    grid-column: 1;
  }

  #left {
    grid-column: 2;
  }

  #about p {
    align-content: center;
    line-height: 2rem;
  }

  .related-links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 850px) {
  #experience {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 1080px) {
  header.container {
    max-width: 1440px;
  }
  main.container {
    max-width: 1440px;
  }
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .related-links {
    grid-column: 1 / -1;
    flex-direction: row;
    font-size: 2rem;
    gap: 12rem;
  }

  #left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #skills {
    grid-column: 1 / -1;
  }

  #experience {
    padding: 0;
  }
}
