
html{
  box-sizing: border-box;
  box-sizing: inherit;
}

body {
  background: #c0c0c0;
  overflow: auto;
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

#link {
display: grid;
grid-template-columns: repeat(4, 1fr);
margin: auto;
list-style-type: none;
}

#link li {
  border: 5px solid #656565;
  border-radius: 25px;
  background: #b2b2b2;
  padding: 20px;
  width: 150px;
  text-align: center;
}

footer {

}

/** Media Q's **/

@media screen and (){

  }
}